.header {
    border-bottom: 1px solid #E0DFDE;
    height: 100px;
}

.header__inner {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header__logo {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #8B7969;
    text-decoration: none;
}
